{% extends 'base.html.twig' %}

{% block title %}Супер приложение!{% endblock %}

{% block body %}
<style>
.container {
    text-align: center;
}
</style>

<div class="container">
    <h1>Для запуска нажмите на кнопку ниже</h1>
    <a href="run" target="_blank">Поехали</a>
</div>
{% endblock %}
