{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <p>Прикрепленные файлы</p>
    </br>
    <a href='{{file_url}}'>{{filename}}</a>
    </br>
{% endblock %}
